@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  height: 100vh;
  /* border: 1px solid salmon; */
  overflow-y: hidden;
}

.global_table_shadow{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(112,112,112,0.35);
  -moz-box-shadow: 0px 0px 10px 0px rgba(112,112,112,0.35);
  box-shadow: 0px 0px 10px 0px rgba(112,112,112,0.35);
}

.global_table {
  /* border: 1px solid white; */
  color: white;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.global_table>thead>tr>th {
  /* border: 1px solid white; */
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #434343;
}

.global_table>tbody>tr>td {
  /* border: 1px solid white; */
  text-align: center;
  color: #222222;
  /* background: #807f7f; */
}

.global_table>tbody>tr>td:not(:last-child) {
  /* border: 1px solid white; */
  color: #5C5C5C;

  /* background: #807f7f; */
}

.global_table>tbody>tr>td:last-child {
  /* border: 1px solid white; */
  color: #704506;
  font-weight: bold;
  /* background: #807f7f; */
}

.global_table>tbody>tr {
  /* border: 1px solid white; */
  background: #D9D9D9;
  transition: .2s ease-in-out;
}
.global_table>tbody>tr:not(:last-child) td {
  /* border: 1px solid white; */
border-bottom: #C6C6C6 1px solid;
}
.global_table>tbody>tr:hover {
  /* border: 1px solid white; */
  background: #abaaaa;
}


.poop_login {
  animation-name: loginPoop;
  height: 10px;
  width: 10px;
  position: absolute;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}



@keyframes loginPoop {
  0% {
    opacity: 0;
    top: 0px;
  }

  10% {
    opacity: 0;
    top: 3px;
  }

  20% {
    top: 6px;
    opacity: 0;
  }

  30% {
    top: 9px;
    opacity: 0;
  }

  40% {
    top: 12px;
    opacity: 1;
  }

  50% {
    top: 15px;
    opacity: 1;
  }

  60% {
    top: 18px;
    opacity: 1;
  }

  70% {
    top: 21px;
    opacity: 1;
  }

  80% {
    top: 24px;
    opacity: 1;
  }

  90% {
    top: 27px;
    opacity: 1;
  }

  100% {
    top: 30px;
    opacity: 1;
  }


}

@keyframes grow {
  0%, 100% {
      transform: scale(.95);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.animate-grow {
  animation: grow 1s infinite;
}